body{
    text-align: center;
    background: rgb(72,58,88);
background: linear-gradient(90deg, rgba(72,58,88,1) 0%, rgba(166,52,70,1) 100%);


}

p,h4,h2,h3{
    color: blanchedalmond;
    text-emphasis-color: seagreen;
   text-emphasis:initial;
}

div{
    padding: 40px;
}

